<div class="flex flex-col md:grid grid-rows-3">
    <div class="py-5 px-2 md:px-10 md:py-1 flex flex-col items-center row-start-2 row-end-3">
        <h1 class="w-full text-xl md:text-3xl text-center md:text-justify" >
            Welcome to <span class="text-dark-blue font-bold"> Bid.ly.</span>
            Unlock incredible deals on unique items! Explore our website and join the excitement of real-time auctions. From vintage treasures to modern gadgets, there's something for everyone. Don't miss out—place your bids today and win big!
         </h1>
         <div class="bg-dark-blue md:mt-10 my-2 hover:bg-flashBlue py-2 px-5 m-2 rounded-xl hover:text-black">
           <%= link_to "Get Started", new_registration_path(resource_name), class: "hover:text-white w-full font-bold text-white " %><br />
         </div>
    </div>
</div>